 <h2>部門</h2>
 <div>
   <% section.each do |section| %>
   <ul>
       <li>
        <%= link_to admin_members_path({type: section.id}) do %>
          <%= section.section_name %>
        <% end %>
        </li>
   </ul>
   <% end %>
 </div>

