<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1 class="mt-3 mb-4">体温変遷グラフ</h1>
      <div>
        <%= line_chart @conditions.pluck(:created_at, :temperature).map{|item| [item[0].to_date, item[1]]}, min: 35, max: 38 %>
      </div>
    </div>
  </div>
</div>