<div>
  <div class="text-center">
    <h1>TOPページ</h1>
    <div>
      <p>P-Conは,働く方の体調管理をサポートするサイトです。</br>
      日々の出退勤登録、体調及び体温の登録などを行うことが出来ます。</p>
    </div>
    <div class= "flex">
      <%= link_to "ログイン", new_member_session_path, class: "btn btn-primary" %>

      <%= link_to "新規登録", new_member_registration_path, class: "btn btn-secondary"  %>
    </div>
  </div>
</div>
