
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-8">
        <h1 class="mb-3 p-4">P-Con</h1>
        <p class="mt-2 mb-6">P-Conは,働く方の体調管理をサポートするサイトです。</br>
           日々の出退勤登録、体調及び体温の登録などを行うことが出来ます。</p>
        <div class= "row">
          <%= link_to "ログイン", new_member_session_path, class: "btn btn-primary btn-block mb-4" %>
        </div>
        <div class="row">
          <%= link_to "新規登録", new_member_registration_path, class: "btn btn-secondary btn-block mt-3"  %>
        </div>
      </div>
    </div>
  </div>

