<h2>部門編集</h2>
<div>
  <%= form_with model: @section, url: admin_section_path(@section.id), method: :patch do |f| %>
    <div class="field">
      <%= f.text_field :section_name %>
    </div>
    <div class="field">
      <%= f.submit "変更を保存" %>
    </div>
  <% end %>
</div>
