 <h2 class="mt-2 mb-3">部門</h2>
 <div>
   <% section.each do |section| %>
   <ul class="list-group list-group-flish">
       <li class="list-group-item">
        <%= link_to members_path({type: section.id}) do %>
          <%= section.section_name %>
        <% end %>
        </li>
   </ul>
   <% end %>
 </div>

