<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1 class="mt-3 mb-4">体調登録履歴</h1>
      <div>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>登録日時</th>
              <th>体調</th>
              <th>体温(℃)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @conditions.each do |condition| %>
            <tr>
              <td><%= condition.created_at.to_s(:datetime_jp) %></td>
              <td><%= condition.status_i18n %></td>
              <td><%= condition.temperature %></td>
              <td><%= link_to "詳細", condition_path(condition.id), class: "btn btn-primary" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


