<div>
  <h1>体調情報詳細</h1>
  <div>
      <div>
          ・体調
          <%= @condition.status_i18n %>
      </div>
      <div>
          ・体温
          <%= @condition.temperature %>
      </div>
      <div>
         ・補足欄
         <%= @condition.explation %>
      </div>
      <div>
          <%= link_to "体温変遷を見る", graphs_path %>
      </div>
  </div>
</div>
